body {
	color: #808080;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	background-color: #fff;
	margin: 0px;
    background-image: url("../clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  opacity: 0.9;
  position: absolute;
  z-index: 1;

}

::-webkit-scrollbar { 
    display: none; 
}

div.htmltooltip{
position: absolute; /*leave this and next 3 values alone*/
z-index: 1000;
left: -1000px;
top: -1000px;
background: #272727;
border: 10px solid black;
color: white;
padding: 3px;
width: 250px; /*width of tooltip*/
}

.outer-div {
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 2;
        width: 100%;
        height: 100%;
          -webkit-box-shadow: inset 1px 1px 192px 50px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 192px 50px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 192px 50px rgba(0,0,0,0.35);
  overflow: auto;

}

.inner-div {
    margin: 0 auto;
    width: 44%;
    margin-top: 10%;
    padding-bottom: 20px;
    opacity: 0.9;
    
    color: white;
    background-color: cornflowerblue;

    border-radius: 25px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
}

.inner-div p {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 40px;
	margin-bottom: -10px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}

.webLink {
  font-size: 20px;
}

#backer {
  text-align: center;
  margin-top: 15px;
  margin-right: 15px;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  margin-left: -15px;
  padding-top: 80px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 26%;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  
  line-height: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.iOS-container {
/*  position: relative;
	margin-top: 5px;
	margin-bottom: 20px;
  padding-bottom: 100px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
/*   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   overflow: auto;*/
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;

   height: 450px;
   width: 100%;
   margin: 0 auto;
   margin-top: 40px;
   margin-bottom: 40px;
   overflow: auto;
   flex-wrap: wrap;
/*   background-color: white;
*/   


}

.iOS-description {
  font-size: 10px;
  height: 120px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  padding: 0px 0 250px 10px;
}

.info-container{
    margin-top: 0;
    height: 300px;
    width: 46%;
    margin-right: 20px;
}

.iOS-image-wrapper {
  height: 100px;
  width: 50%;
  margin-top: 15px; 
}

.info-container p{
/*    background-color: yellow;
*/    width: 80%;
      font-size: 12px;
}

.iOS-image {
  height: 300%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
  box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
}

#name {
	margin-top: 60px;
}

/*#demo {
	font-size: 13px;
	line-height: 15px;
}*/

.second {
  margin-top: 45px;
  margin-bottom: -20px;
  margin-left: -45px;
  text-align: center;
  height: 40px;
}

.icons ul {
  margin: auto;
  width: 50%;
  padding: 0;
  list-style-type: none;
}

.icons li {
  opacity: 0.9;
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
}

.icons img {
  width: 40px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
  box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
}

@media only screen and (max-width: 1226px) {
	.flex-item {
		width: 200px;
		height: 50px;
		margin-top: 10px;
	}

	.flex-container {
		margin-top: -50px;
		margin-bottom: 50px;
	}

	#demo {
		margin-top: 0px;
	}

	.iOS-image-wrapper {
    margin-left: 24%;
  }

  .info-container {
    margin-left: 30%;
    margin-top: 170px;
  }

  .iOS-description:nth-child(n+2) {
    margin-top: 190px;
  }

}

@media only screen and (max-width: 780px) {

	 #demo {
    margin-top: 30px;
  }

  .iOS-image-wrapper {
    margin-left: 22%;
  }

  .info-container {
    margin-left: 28%;
    margin-top: 170px;
  }

/*  .outer-div {
    position: relative;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
              -webkit-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  }

  .inner-div {
    width: 80%;
  }

  body {
    position: absolute;
    z-index: 1000000;

  }

  .iOS-container {
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    padding-top: 0px;
  }

  .iOS-container {
    margin-top: 20px;
  }*/

}

/*@media only screen and (max-width: 626px) {

  .outer-div {
    position: relative;
    margin-top: -40px;
    padding-bottom: 40px;
              -webkit-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  }

  .inner-div {
    width: 80%;
  }

  body {
    height: 0%;
  }

  .iOS-container {
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    padding-top: 0px;
  }

  #demo {
    margin-top: 60px;
  }

  .iOS-container {
    margin-top: 20px;
  }

}

@media only screen and (max-width: 400px) {

  .outer-div {
    position: relative;
    margin-top: -40px;
    padding-bottom: 10px;
              -webkit-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  }

  .inner-div {
    width: 80%;
  }

  body {
    height: 0%;
  }

  .iOS-container {
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    padding-top: 0px;
  }

	#demo {
		margin-top: 60px;
	}

  .iOS-container {
    margin-top: 20px;
  }

}*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

