body {
	color: #808080;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	background-color: #fff;
	margin: 0px;

}

.outer-div {
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 1;
        width: 100%;
        height: 100%;
          -webkit-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 72px 10px rgba(0,0,0,0.35);
}

.inner-div {
    margin: 0 auto;
    width: 40%;
    margin-top: 10%;
    opacity: 0.8;
    color: white;
    background-color: skyblue;
    border: 1px solid white;
    border-radius: 25px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
}

.inner-div p {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 40px;
	margin-bottom: -10px;
}

#resume {
	text-decoration: none;
	color: black;
	font-size: 22px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}

.webLink {
  font-size: 20px;
  line-height: 25px;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 27%;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  
  line-height: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.iOS-container {
  position: relative;
	margin-top: 5px;
	margin-bottom: 20px;
  padding-bottom: 100px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   overflow: auto;

}

.iOS-description {
  width: 27%;
  height: 20%;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 25%;
  margin-bottom: 10px;
	
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#name {
	margin-top: 60px;
}

#demo {
	font-size: 13px;
	line-height: 15px;
}

.second {
  margin-top: 30px;
  margin-bottom: -50px;
  margin-left: -35px;
  text-align: center;
  height: 40px;
}

.icons ul {
  margin: auto;
  width: 50%;
  padding: 0;
  list-style-type: none;
}

.icons li {
  opacity: 0.9;
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
}

.icons img {
  width: 20px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
  box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.35);
}

@media only screen and (max-width: 1126px) {
	.flex-item {
		width: 200px;
		height: 50px;
		margin-top: 10px;
	}

	.flex-container {
		margin-top: -50px;
		margin-bottom: 50px;
	}

	#demo {
		margin-top: 0px;
	}

	.iOS-description {
		width: 200px;
		height: 50px;
		margin-top: -10px;
    margin-bottom: -15px;
	}

}

@media only screen and (max-width: 890px) {

	#demo {
		margin-top: 30px;
	}

}

@media only screen and (max-width: 626px) {

  #demo {
    margin-top: 60px;
  }

}

@media only screen and (max-width: 400px) {

  .outer-div {
    position: relative;
    margin-top: -40px;
    padding-bottom: 0px;
  }

  body {
    height: 0%;
  }

  .iOS-container {
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    padding-top: 0px;
  }

	#demo {
		margin-top: 60px;
	}

  .iOS-container {
    margin-top: 20px;
  }

}