<html ng-app="App">
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="main.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>
		<script src="app.js"></script>
		<script>
			window.onload = function() {
				document.getElementById("thefield").focus();
			};
		</script>
	</head>
	<body>
		<div class="iphone6-plus" ng-controller="Messaging">
			<div class="casing">
				<div ng-show="showApps" class="screen animates">
					<div class="messenger" id="messenger" scroll-glue>
						<div class="animate" ng-repeat="bubble in bubbles track by $index" ng-class="check(bubble.isMe)">
							<div class="text">
								<p ng-bind-html="bubble.mes | unsafe"></p>
							</div>
						</div>
					</div>
					<div class="textfield">
						<form id="form" ng-submit="send()">
							<input type="text" name="texting" placeholder="Write here...."  class="field" ng-model="bubbleText" autocomplete="off" id="thefield"></input>
							<button type="submit" class="send">Send</button>
						</form>
					</div>
				</div>
				<div ng-hide="showApps" class="screen animates">
					<div class="appsView">
						<div class="anApp" ng-repeat="project in projects">
							<a href={{project.link}} target="_blank">
								<div class="anImage"><img src={{project.image}}></div>
							</a>
							<div class="aDescription"><p>{{project.description}}</p></div>
						</div>
					</div>
					<div class="tabView">
						<div class="tabApp" ng-repeat="tab in tabs">
							<a href={{tab.link}} target="_blank">
								<div class="tabImage"><img src={{tab.image}}></div>
							</a>
							<div class="tabDescription"><p>{{tab.description}}</p></div>
						</div>
						<div class="tabApp" ng-click="switch()">
							<div class="tabImage"><img src="images/chat.png"></div>
							<div class="tabDescription"><p>Message</p></div>
						</div>
					</div>
				</div>
			</div>
			<div class="button" ng-click="switch()">
			</div>
		</div>
	</div>		

	</body>
	<script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
</html>