html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	background: url(images/wood.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.casing {
	width: 285px;
	height: 520px;
	padding-top: 45px;
	background-color: white;
	border-radius: 30px;
	margin: 0 auto;
	-webkit-box-shadow: 1px 1px 60px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 60px 5px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 60px 5px rgba(0,0,0,0.25);

}

.screen {
	width: 265px;
	height: 470px;
	margin: 0 auto;	
	background-color: orange;
	border-radius: 5px;

	-webkit-box-shadow: inset 1px 126px 175px -138px rgba(31,31,31,1);
	-moz-box-shadow: inset 1px 126px 175px -138px rgba(31,31,31,1);
	box-shadow: inset 1px 126px 175px -138px rgba(31,31,31,1);
}

/*.screen::after {
	content: '';
	width: 265px;
	height: 470px;
	margin-top: -470px;
	position: absolute;
	background-color: transparent;
	-webkit-box-shadow: inset 0px 0px 108px -19px rgba(50,50,50,1);
	-moz-box-shadow: inset 0px 0px 108px -19px rgba(50,50,50,1);
	box-shadow: inset 0px 0px 108px -19px rgba(50,50,50,1);
	pointer-events: none;
}*/

.button {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid lightslategray;
	margin: 0 auto;
	margin-top: -40px;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);

	background: radial-gradient(circle, white 55%, transparent 100%), lightslategray;
  background: -webkit-radial-gradient(circle, white 55%, transparent 100%), lightslategray;
  background: -moz-radial-gradient(circle, white 55%, transparent 100%), lightslategray;
}

.button:active {
	border: 1px solid black;
}

.iphone6-plus {
	width: 300px;
	height: 500px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 100px;
}

.messenger{
	border-top: 1px solid lightgray;
	border-right: 1px solid gainsboro;
	border-left: 1px solid gainsboro;
	width: auto;
	height: 415px; 
	background-color:lightcyan; 
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: 5px 5px 0px 0px;
	padding-bottom: 15px;
}

.evenBubble {
	width: 200px;
	height: auto;
	background-color: skyblue;
	margin:0 auto;
	border-radius:18px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 48px;
	position: relative;
	transition: 0.2s linear all;
}

.oddBubble::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -10px;
	border: 13px solid;
	border-color: cornflowerblue transparent transparent cornflowerblue;
	margin-left: -30px;
	transition: 0.2s linear all;
}

.oddBubble {
	width: 200px;
	height: auto;
	background-color: cornflowerblue;
	margin:0 auto;
	border-radius:18px;
	display: inline-block;
	position: relative;
	margin-left: 15px;
	margin-top: 15px;
	transition: 0.2s linear all;
}

.evenBubble::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -10px;
	border: 13px solid;
	border-color: skyblue transparent transparent skyblue;
	transform: scaleX(-1);
	margin-left: 128px;
	transition: 0.2s linear all;
}

.text {
	padding: 1em;
	text-align: left;
	color: white;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
}

.text p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.text a {
	color: lightblue;
	text-decoration: none;
}

.textfield {
	width: auto;
	height: 40px;
	background-color: silver;
	border-radius:0px 0px 5px 5px;
}

.field {
	width: 175px;
	height: 25px;
	margin-left: 10px;
	margin-top: 8px;
	padding-left: 5px;
	font-size: 14px;
	outline: none;
	color: cornflowerblue;
	border-radius: 4px;
	border: none;
}

.send {
	display: block;
	background-color: silver;
	margin-top: -25px;
	position: relative;
	color:white;
	border: none;
	font-size:17px;
	outline: none;
	margin-left: 195px;
}

.send:active {
	color:lightslategray;
	border: none;
}

.animate { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
} 

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);

    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    opacity: 0;
}        

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);

    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    opacity: 1;
}

.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 600ms infinite;      
  animation: ellipsis steps(4,end) 600ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/*----------------------------------------------------------------------------------------*/

.appsView {
	width: auto;
	height: 385px;
	background: url(images/blur.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px 5px 0px 0px;
	overflow: scroll;

	-webkit-box-shadow: inset 0px 0px 208px -19px rgba(50,50,50,1);
	-moz-box-shadow: inset 0px 0px 208px -19px rgba(50,50,50,1);
	box-shadow: inset 0px 0px 208px -19px rgba(50,50,50,1);

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.tabView {
	width:auto;
	height: 85px;
	background: url(images/blur.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0px 0px 5px 5px;

	-webkit-box-shadow: inset 0px 0px 208px -19px rgba(50,50,50,1);
	-moz-box-shadow: inset 0px 0px 208px -19px rgba(50,50,50,1);
	box-shadow: inset 0px 0px 208px -19px rgba(50,50,50,1);

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.anApp {
	width: 88px;
	height: 88px;
	color: lightcyan;
	font-family: 'Roboto', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.anApp p {
	font-size: 12px;
	text-align: center;
}

.anImage {
	width: 70px;
	height: 70px;
	background-color: skyblue;
	margin: 10px 0px -7px 9px;
	border-radius: 10px;
}

.anImage img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: black;
}

.tabImage {
	width: 54px;
	height: 54px;
	background-color: white;
	margin: 0px 0px -7px 0px;
	border-radius: 10px;
}

.tabImage img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.tabApp {
	width: 54px;
	height: 54px;
	color: lightcyan;
	margin: 10px 4px 0px 7px;
	font-family: 'Roboto', sans-serif;
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.tabApp p {
	font-size: 10px;
	text-align: center;
}

.animates { 
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    margin-left: 10px;
    position: absolute;
} 

/* Initial state when showing */
.animates.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.animates.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}