head
    script(type='text/javascript' src='node_modules/lodash/core.js')
    script(type='text/javascript' src='node_modules/angular/angular.js')
    script(type='text/javascript' src='node_modules/angular-animate/angular-animate.min.js')
    script(type='text/javascript' src='node_modules/angular-sanitize/angular-sanitize.min.js')
    script(type='text/javascript' src='node_modules/angularjs-scroll-glue/src/scrollglue.js')
    script(type='text/javascript' src='prod/js/app.js')
    link(href='prod/css/style.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet")
body(ng-app='Site')
    div(class='mobile-device' ng-controller='Dialogue')
        div(class='screen')
            div(class='dialogue' ng-if='dialogue')
                div(class='chat-window' scroll-glue='true')
                    div(class='chat-bubble {{ message.sender }}' ng-repeat='message in messageQueue track by $index' ng-bind-html="trustAsHtml(messageQueue[$index].message)") 
                div(class='chat-bar')
                    input(autofocus type='text' ng-model='currentUserText' placeholder='Write here...' ng-keypress='$event.keyCode==13 ? send(currentUserText) : ""')
                    div(class='send-button' ng-click='send(currentUserText)') Send
            div(class='portfolio' ng-if='!dialogue')
        div(class='button' ng-click='buttonClicked()')
