head
    script(type='text/javascript' src='node_modules/lodash/core.js')
    script(type='text/javascript' src='node_modules/angular/angular.js')
    script(type='text/javascript' src='prod/js/app.js')
    link(href='prod/css/style.css', rel='stylesheet')
body(ng-app='Site')
    div(class='mobile-device' ng-controller='Dialogue')
        div(class='screen')
            div(class='dialogue' ng-if='dialogue')
                div(class='chat-window')
                    div(class='chat-bubble' ng-repeat='message in messageQueue track by $index')
                div(class='chat-bar')
                    input(type='text' ng-model='currentUserText')
                    div(class='send-button' ng-click='send(currentUserText)')
            div(class='portfolio' ng-if='!dialogue')
        div(class='button' ng-click='buttonClicked()')
