head
    script(type='text/javascript' src='node_modules/angular/angular.js')
    script(type='text/javascript' src='prod/js/app-min.js')
body(ng-app='Site')
    div(ng-controller='Dialogue') {{bob}}
    div {{lol}}

