head
    script(type='text/javascript' src='node_modules/lodash/core.js')
    script(type='text/javascript' src='node_modules/angular/angular.js')
    script(type='text/javascript' src='prod/js/app.js')
    link(href='prod/css/style.css', rel='stylesheet')
body(ng-app='Site' style="background-color:red;width:100%;height:100%;")
    div(ng-controller='Dialogue')

