$font: 'Work Sans', sans-serif;
$mobileDeviceColor: lightgray;
$mobileDeviceAfterColor: white;
$chatBubbleColor: #64a7ed;
$chatBubbleUserColor: #4cb5ff;
$chatWindowColor: #c3edfb;
$chatBarColor: #d2d2d2;
$chatBubbleFontColor: white;
$appIconColor: tan;
$appDescriptionBackground: midnightblue;
$appDescriptionText: white;
$statusColor: black;
$statusDotOffline: red;
$statusDotActive: lightgreen;
$notifColor: red;
$notifFontColor: white;
$statusOnline: #50c350;
$statusOffline: #a58b86;

$deviceHeightAdd: 15px;

html {
        box-shadow: 0 0 300px rgba(0,0,0,0.40) inset;
}

a {
        color: navajowhite;
        text-decoration: none;
}

body {
        background-image: url('retina_wood_@2X.jpg');
        background-repeat: repeat;
        overflow: hidden;
        height: 100%;
}

.noSelect {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
}

.mobile-device {
        position: relative;
        height: 600px + $deviceHeightAdd;
        width: 310px;
        background-color: $mobileDeviceColor;
        margin: 40 auto;
        border-radius: 25px;
        opacity: 0;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        &.loaded {
                opacity: 1;
                transition: 1s ease-in-out;
                -webkit-transition: 1s ease-in-out;
        }
        transform: perspective(1500px) rotateX(15deg) rotate(0);
        -webkit-transform: perspective(1500px) rotateX(15deg) rotate(0);
        -webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.55);
        box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.55);
}

[ng\:cloak], [ng-cloak], .ng-cloak, mobile-device.ng-cloak {
        display: none;
}

.mobile-device:after {
        content:'';
        position: absolute;
        height: 600px + $deviceHeightAdd;
        width: 312px;
        background-color: $mobileDeviceAfterColor;
        margin: 40 auto;
        transform: translateY(-45px) translateX(-1px);
        -webkit-transform: translateY(-45px) translateX(-1px);
        border-radius: 25px;
        opacity: 1;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        z-index: -1;
}

.screen {
        position: fixed;
        left: 50%;
        top: 40px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        height: 500px + $deviceHeightAdd;
        width: 300px; 
        background-image: url('blur.jpg');
        background-size: cover;
        box-shadow: inset 0 0 150px 19px rgba(50,50,50,1);
        border-radius: 5px;
}

.screen:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        height: 500px;
        width: 300px; 
        border-radius: 5px;
}

.dialogue, .portfolio {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 5px;
        z-index: 1;
}

.portfolio {
        overflow: hidden;
}

.button {
        position: absolute;
        bottom: 16px;
        height: 30px;
        width: 30px;
        background-color: $mobileDeviceAfterColor;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        &.dotted-shadow {
            -webkit-animation: dotted-shadow linear 1s forwards;
            animation: dotted-shadow linear 1s forwards;
            cursor: pointer;
        }
        border: 1px solid gainsboro;
}

.button.dotted-shadow:active {
        border: 1px solid gray;
}

.chat-bubble {
        position: relative;
        height: auto;
        max-width: 60%;
        background-color: $chatBubbleColor;
        border-radius: 20px;
        padding: 10px 15px 10px 15px;
        text-align: left;
        font-size: 15px;
        line-height: 1.5em;
        color: $chatBubbleFontColor;
        font-family: $font; 
        clear: both;
        margin-bottom: 20px;
        word-wrap: break-word;
        &.status {
               background-color: $statusOnline;
               &.offline {
                       background-color: $statusOffline;
               }
        }
        &:hover {
            -webkit-animation: shake ease-in-out 0.3s 1;
            animation: shake ease-in-out 0.3s 1;
        }
}

.chat-bubble.Grant {
        float: left;
        &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                bottom: -10px;
                left: 5px;
                border: 10px solid;
                border-color: $chatBubbleColor transparent transparent $chatBubbleColor;
        }
        &.status {
                margin: 0 auto;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 10px;
                float: inherit;
                text-align: center;
                &:after {
                    display: none;
                }
        }
}

.chat-bubble.user {
        float: right;
        background-color: $chatBubbleUserColor;
}

.chat-bubble.user::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -10px;
        right: 5px;
        border: 10px solid;
        border-color: $chatBubbleUserColor $chatBubbleUserColor transparent transparent;
}

.switch.ng-enter {
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        opacity: 0;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
}

.switch.ng-enter.ng-enter-active {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1)
}

.switch.ng-leave {
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
}

.switch.ng-leave.ng-leave-active {
        opacity: 0;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
}

.alt.ng-enter {
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        opacity: 0;
}

.alt.ng-enter.ng-enter-active {
        opacity: 1;
}

.alt.ng-leave {
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        opacity: 1;
}

.alt.ng-leave.ng-leave-active {
        opacity: 0;
}

.fade.ng-enter {
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        opacity: 0;
}

.fade.ng-enter.ng-enter-active {
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        opacity: 1;
}

.chat-window {
        -ms-overflow-style: none;
        overflow: auto;
        height: calc(90% - 10px);
        padding: 10px 10px 0px 10px;
        background-color: $chatWindowColor;
        background: url(../img/bg.jpg);
        background-size: 150px 150px;
        background-repeat: repeat;
}

.chat-window::-webkit-scrollbar {
        width: 0 !important;
}

.chat-bar {
        position: absolute;
        bottom: 0;
        background-color: $chatBarColor;
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 0 0 3px 3px;
}

input {
        height: 30px;
        width: 220px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        padding: 10px;
        border-radius: 5px;
        border: transparent;
        color: slategray;
        outline: none;
        font-size: 15px;
        font-family: $font; 
}

.send-button {
        width: 60px;
        margin-left: -15px;
        height: 30px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        line-height: 30px;
        text-align: center;
        font-size: 15px;
        font-family: $font; 
        cursor: pointer;
}

.pending {
        padding-top: 0;
}

.dot1, .dot2, .dot3 {
        font-size: 25px;
}

.dot1 {
        -webkit-animation: flash1 linear 0.5s infinite;
        animation: flash1 linear 0.5s infinite;
}

.dot2 {
        -webkit-animation: flash2 linear 0.5s infinite;
        animation: flash2 linear 0.5s infinite;
}

.dot3 {
        -webkit-animation: flash3 linear 0.5s infinite;
        animation: flash3 linear 0.5s infinite;
}

.app-page {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        width: 309px;
}

.app-container {
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        position: absolute;
        height: calc(83% - 5px);
        padding-top: 5px;
        background-image: url('blur.jpg');
        background-size: cover;
        box-shadow: inset 0 0 130px -19px rgba(50,50,50,1);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        border-radius: 5px 5px 0 0;
}

.app {
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        width: 75px;
        height: 80px;
        &:hover {
            -webkit-animation: shake ease-in-out 0.3s 1;
            animation: shake ease-in-out 0.3s 1;
        }
}

.app-icon {
        margin: auto;
        margin-left: 7.5px;
        border-radius: 10px;
        background-color: $appIconColor;
}

.app-name {
        margin-top: 2px;
        text-align: center;
        color: white;
        font-size: 10px;
        font-family: $font; 
}

.option {
        display: inline-block;
        margin: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $appIconColor;
        opacity: 0.5;
        cursor: pointer;
        &.selected {
                opacity: 1;
        }
        &:after {
                content:'';
                padding: 5px;
                position: absolute;
                transform: translateX(-5px) translateY(-2px);
        }
}


.select {
        position: fixed;
        width: 100%;
        height: 15px;
        bottom: 17%;
        text-align: center;
}

.home-row {
        position: absolute;
        background-image: url('blur.jpg');
        background-size: cover;
        box-shadow: inset 0 0 150px -19px rgba(50,50,50,1);
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 17%;
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: flex-start;
}

.home-app {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        width: 75px;
        height: 80px;
        &:hover {
            -webkit-animation: shakeTab ease-in-out 0.3s 1;
            animation: shakeTab ease-in-out 0.3s 1;
        }
}

.app-description {
        position: absolute;
        text-align: center;
        width: 59px;
        height: 59px;
        padding: 1px;
        font-family: $font; 
        background-color: $appDescriptionBackground;
        font-size: 12px;
        color: $appDescriptionText;
        border-radius: 10px;
        transform: translateY(-73px) translateX(7px);
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        &:hover {
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                opacity: 1;
        }
}

.notif {
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 100;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: $notifColor;
        color: $notifFontColor;
        font-size: 12px;
        font-family: $font; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        //keyframes for jumping later
        transition: 0.3s ease-in-out;
        opacity: 0;
        &.show {
            opacity: 1;
        }
        &.jump {
            animation: jump ease-in-out 0.2s 1;
        }
}

@-webkit-keyframes flash1 {
        0% { opacity: 1; }
        50% { opacity: 0.1; }
        100% { opacity: 0.1; }
}

@keyframes flash1 {
        0% { opacity: 1; }
        50% { opacity: 0.1; }
        100% { opacity: 0.1; }
}

@-webkit-keyframes flash2 {
        0% { opacity: 0.1; }
        50% { opacity: 1; }
        100% { opacity: 0.1; }
}

@keyframes flash2 {
        0% { opacity: 0.1; }
        50% { opacity: 1; }
        100% { opacity: 0.1; }
}

@-webkit-keyframes flash3 {
        0% { opacity: 0.1; }
        50% { opacity: 0.1; }
        100% { opacity: 1; }
}

@keyframes flash3 {
        0% { opacity: 0.1; }
        50% { opacity: 0.1; }
        100% { opacity: 1; }
}

@-webkit-keyframes dotted-shadow {
        0% { border: none; }
        50% { 
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);
        }
        75% { 
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
        }
        100% { 
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
        }
}

@keyframes dotted-shadow {
        50% { 
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);
        }
        75% { 
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
        }
        100% { 
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
        }
}

@keyframes shake {
        0% {
                -webkit-transform: translateX(0px);
                transform: translateX(0px);
        }
        50% {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
        }
        100% {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
        }
}

@keyframes shakeTab {
        0% {
                -webkit-transform: translateY(7px) translateX(0px);
                transform: translateY(7px) translateX(0px);
        }
        50% {
                -webkit-transform: translateY(7px) translateX(-3px);
                transform: translateY(7px) translateX(-3px);
        }
        100% {
                -webkit-transform: translateY(7px) translateX(3px);
                transform: translateY(7px) translateX(3px);
        }
}

@keyframes jump {
        0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
        }
        50% {
                -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        }
        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
        }
}

@media (max-device-width: 768px) {
        .mobile-device {
                margin-top: 10px;
                zoom: 0.8;
        }
        body {
                background-image: none;
                background-color: tan;
        }
        .hideMobile {
                display: none;
        }
        html {
                box-shadow: initial;
        }
}
