.title h1 {
	text-align: center;

	font-size: 68px;
}
.profilepic {
	text-align: center;
}
.profilepic img {
	border: 3px solid white;
	border-radius: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.profilepic p {
	padding: 0 30% 0 30%;
}

.story {
	text-align: center;
	padding: 20px 0 0 0;
}
.story p {
	padding: 15px 15% 0 15%;
}
.inline li {
	list-style-type: none;
	display: inline;
	padding: 0 10px 0 10px;
}
body {
	background-image: url(pattern.png);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: white;
	padding-top:70px; 
}

.only hr {
	border: 1px solid white;
}
.blue {
	color: white;
}
/* navbar */
.navbar-default {
    background-color: white;
    opacity: 0.8;
}
/* title */
.navbar-default .navbar-brand {
    color: black;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
}
@media (max-width: 768px) {
	body {
		background-image: url(triangle.svg);
		padding-top:50px;
	}
}

.shadow {
  display: inline-block;
  position: relative;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
}

.shadow img {
	margin-top: 1px;
  max-width: 100%;
  position: relative;
  z-index: -1;
  margin-bottom: 5px;

}

